// Color Variables
$primary-color: #42307D;
$text-heading-color: #6941C6;
$text-sub-heading-color: #101828;
$background-color: #ecf0f1;
$gray-color: #667085;

// Font Size Variables
$font-xSmall: 14px;
$font-small: 16px;
$font-medium: 20px;
$font-large: 24px;
$font-huge: 48px;
